[submodule "localsettings"]
	path = localsettings
	url = https://github.com/victronenergy/localsettings.git
[submodule "dbus-recorder"]
	path = dbus-recorder
	url = https://github.com/victronenergy/dbus-recorder.git
[submodule "dbus-systemcalc-py"]
	path = dbus-systemcalc-py
	url = https://github.com/victronenergy/dbus-systemcalc-py.git
[submodule "dbus-tools"]
	path = dbus-tools
	url = https://github.com/victronenergy/dbus-tools
[submodule "venus-html5-app"]
	path = venus-html5-app
	url = https://github.com/victronenergy/venus-html5-app.git
[submodule "dbus_generator"]
	path = dbus_generator
	url = https://github.com/victronenergy/dbus_generator.git
[submodule "dbus-flashmq"]
	path = dbus-flashmq
	url = https://github.com/victronenergy/dbus-flashmq.git
[submodule "flashmq"]
	path = flashmq
	url = https://github.com/halfgaar/FlashMQ.git
[submodule "dbus-modbus-client"]
	path = dbus-modbus-client
	url = https://github.com/victronenergy/dbus-modbus-client.git
[submodule "dse-modbus-simulator"]
	path = dse-modbus-simulator
	url = https://github.com/victronenergy/dse-modbus-simulator.git
