<?xml version='1.0' encoding='UTF-8'?>
<Settings version="1.0">
  <CGwacs>
    <BatteryLife>
      <Schedule>
        <Charge>
          <_2>
            <Day default="-1" max="9" type="i" silent="False" min="-1">-1</Day>
            <Soc default="100" max="100" type="i" silent="False" min="0">100</Soc>
            <Duration default="0" type="i" silent="False">0</Duration>
            <Start default="0" type="i" silent="False">0</Start>
          </_2>
          <_0>
            <Duration default="0" type="i" silent="False">0</Duration>
            <Day default="-1" max="9" type="i" silent="False" min="-1">-1</Day>
            <Start default="0" type="i" silent="False">0</Start>
            <Soc default="100" max="100" type="i" silent="False" min="0">100</Soc>
          </_0>
          <_1>
            <Soc default="100" max="100" type="i" silent="False" min="0">100</Soc>
            <Duration default="0" type="i" silent="False">0</Duration>
            <Start default="0" type="i" silent="False">0</Start>
            <Day default="-1" max="9" type="i" silent="False" min="-1">-1</Day>
          </_1>
          <_4>
            <Day default="-1" max="9" type="i" silent="False" min="-1">-1</Day>
            <Start default="0" type="i" silent="False">0</Start>
            <Duration default="0" type="i" silent="False">0</Duration>
            <Soc default="100" max="100" type="i" silent="False" min="0">100</Soc>
          </_4>
          <_3>
            <Duration default="0" type="i" silent="False">0</Duration>
            <Start default="0" type="i" silent="False">0</Start>
            <Day default="-1" max="9" type="i" silent="False" min="-1">-1</Day>
            <Soc default="100" max="100" type="i" silent="False" min="0">100</Soc>
          </_3>
        </Charge>
      </Schedule>
      <State default="1" type="i" silent="True">1</State>
      <DischargedTime default="0" type="i" silent="True">0</DischargedTime>
      <Flags default="0" type="i" silent="True">0</Flags>
      <MinimumSocLimit default="10.0" max="100.0" type="f" silent="False" min="0.0">10.0</MinimumSocLimit>
      <SocLimit default="10.0" max="100.0" type="f" silent="True" min="0.0">10.0</SocLimit>
    </BatteryLife>
  </CGwacs>
  <Generator0>
    <TestRun>
      <StartTime default="54000" max="86400" type="i" silent="False" min="0">54000</StartTime>
      <StartDate default="1483228800" max="10000000000" type="i" silent="False" min="0">1483228800</StartDate>
      <RunTillBatteryFull default="0" max="1" type="i" silent="False" min="0">0</RunTillBatteryFull>
      <SkipRuntime default="0" max="100000" type="i" silent="False" min="0">0</SkipRuntime>
      <Duration default="7200" max="86400" type="i" silent="False" min="1">7200</Duration>
      <Enabled default="0" max="1" type="i" silent="False" min="0">0</Enabled>
      <Interval default="28" max="365" type="i" silent="False" min="1">28</Interval>
    </TestRun>
    <BatteryCurrent>
      <Enabled default="0" max="1" type="i" silent="False" min="0">0</Enabled>
      <StopValue default="5.5" max="10000.0" type="f" silent="False" min="0.0">5.5</StopValue>
      <QuietHoursStartValue default="20.5" max="10000.0" type="f" silent="False" min="0.0">20.5</QuietHoursStartValue>
      <StopTimer default="20" max="10000" type="i" silent="False" min="0">20</StopTimer>
      <StartValue default="10.5" max="10000.0" type="f" silent="False" min="0.5">10.5</StartValue>
      <QuietHoursStopValue default="15.5" max="10000.0" type="f" silent="False" min="0.0">15.5</QuietHoursStopValue>
      <StartTimer default="20" max="10000" type="i" silent="False" min="0">20</StartTimer>
    </BatteryCurrent>
    <Soc>
      <StartValue default="80" max="100" type="i" silent="False" min="0">80</StartValue>
      <Enabled default="0" max="1" type="i" silent="False" min="0">0</Enabled>
      <StopValue default="90" max="100" type="i" silent="False" min="0">90</StopValue>
      <QuietHoursStopValue default="90" max="100" type="i" silent="False" min="0">90</QuietHoursStopValue>
      <QuietHoursStartValue default="90" max="100" type="i" silent="False" min="0">90</QuietHoursStartValue>
    </Soc>
    <AcLoad>
      <StartValue default="1600" max="100000" type="i" silent="False" min="5">1600</StartValue>
      <Measurement default="0" max="100" type="i" silent="False" min="0">0</Measurement>
      <QuietHoursStopValue default="1200" max="100000" type="i" silent="False" min="0">1200</QuietHoursStopValue>
      <StartTimer default="20" max="10000" type="i" silent="False" min="0">20</StartTimer>
      <QuietHoursStartValue default="1900" max="100000" type="i" silent="False" min="0">1900</QuietHoursStartValue>
      <StopValue default="800" max="100000" type="i" silent="False" min="0">800</StopValue>
      <StopTimer default="20" max="10000" type="i" silent="False" min="0">20</StopTimer>
      <Enabled default="0" max="1" type="i" silent="False" min="0">0</Enabled>
    </AcLoad>
    <InverterHighTemp>
      <StopTimer default="20" max="10000" type="i" silent="False" min="0">20</StopTimer>
      <Enabled default="0" max="1" type="i" silent="False" min="0">0</Enabled>
      <StartTimer default="20" max="10000" type="i" silent="False" min="0">20</StartTimer>
    </InverterHighTemp>
    <QuietHours>
      <StartTime default="75600" max="86400" type="i" silent="False" min="0">75600</StartTime>
      <Enabled default="0" max="1" type="i" silent="False" min="0">0</Enabled>
      <EndTime default="21600" max="86400" type="i" silent="False" min="0">21600</EndTime>
    </QuietHours>
    <BatteryVoltage>
      <QuietHoursStartValue default="11.9" max="100.0" type="f" silent="False" min="0.0">11.9</QuietHoursStartValue>
      <StartTimer default="20" max="10000" type="i" silent="False" min="0">20</StartTimer>
      <Enabled default="0" max="1" type="i" silent="False" min="0">0</Enabled>
      <QuietHoursStopValue default="12.4" max="100.0" type="f" silent="False" min="0.0">12.4</QuietHoursStopValue>
      <StartValue default="11.5" max="150.0" type="f" silent="False" min="0.0">11.5</StartValue>
      <StopValue default="12.4" max="150.0" type="f" silent="False" min="0.0">12.4</StopValue>
      <StopTimer default="20" max="10000" type="i" silent="False" min="0">20</StopTimer>
    </BatteryVoltage>
    <InverterOverload>
      <Enabled default="0" max="1" type="i" silent="False" min="0">0</Enabled>
      <StopTimer default="20" max="10000" type="i" silent="False" min="0">20</StopTimer>
      <StartTimer default="20" max="10000" type="i" silent="False" min="0">20</StartTimer>
    </InverterOverload>
    <Alarms>
      <NoGeneratorAtAcIn default="0" max="1" type="i" silent="False" min="0">0</NoGeneratorAtAcIn>
    </Alarms>
    <AccumulatedDaily default="" type="s" silent="True">{"1542758400": 60, "1542844800": 1128, "1542931200": 0}</AccumulatedDaily>
    <OnLossCommunication default="0" max="2" type="i" silent="False" min="0">0</OnLossCommunication>
    <BatteryService default="default" type="s" silent="False">default</BatteryService>
    <StopWhenAc1Available default="0" max="10" type="i" silent="False" min="0">0</StopWhenAc1Available>
    <AccumulatedTotal default="0" type="i" silent="True">1188</AccumulatedTotal>
    <AutoStartEnabled default="1" max="1" type="i" silent="False" min="0">0</AutoStartEnabled>
    <MinimumRuntime default="0" max="86400" type="i" silent="False" min="0">0</MinimumRuntime>
  </Generator0>
  <Gui>
    <Brightness default="100" max="100" type="i" silent="False" min="0">100</Brightness>
    <MobileOverview default="0" max="1" type="i" silent="False" min="0">1</MobileOverview>
    <TimeTest default="1" type="i">80940</TimeTest>
    <DemoMode default="0" max="1" type="i" silent="False" min="0">1</DemoMode>
    <Language default="en" type="s" silent="False">en</Language>
    <StartWithMenuView default="0" max="1" type="i" silent="False" min="0">0</StartWithMenuView>
    <FreeTextTest default="test" type="s"></FreeTextTest>
    <RangeTestHigh default="1.0" type="f" max="5.3" min="0.0">3.8</RangeTestHigh>
    <DisplayOff default="600" type="i" silent="False">600</DisplayOff>
    <RangeTestLow default="0.5" type="f" max="5.0" min="0.0">2.7</RangeTestLow>
    <OptionTest default="1" type="i" min="0" max="3">1</OptionTest>
    <SpinBoxTest default="5" type="i" min="4" max="12">6</SpinBoxTest>
    <DefaultOverview default="" type="s" silent="False">OverviewMobile</DefaultOverview>
  </Gui>
  <Services>
    <AccessPoint default="1" max="1" type="i" silent="False" min="0">1</AccessPoint>
    <Console default="0" type="i" silent="False">0</Console>
    <FischerPandaAutoStartStop default="0" max="1" type="i" silent="False" min="0">0</FischerPandaAutoStartStop>
    <Mqtt default="0" max="1" type="i" silent="False" min="0">0</Mqtt>
    <MqttN2k default="0" max="1" type="i" silent="False" min="0">0</MqttN2k>
    <Vrmpubnub default="0" max="1" type="i" silent="False" min="0">0</Vrmpubnub>
    <Modbus default="0" max="1" type="i" silent="False" min="0">0</Modbus>
    <Bol default="0" max="1" type="i" silent="False" min="0">0</Bol>
  </Services>
  <FischerPanda0>
    <AcLoad>
      <StopValue default="800" max="100000" type="i" silent="False" min="0">800</StopValue>
      <StartValue default="1600" max="100000" type="i" silent="False" min="5">1600</StartValue>
      <QuietHoursStartValue default="1900" max="100000" type="i" silent="False" min="0">1900</QuietHoursStartValue>
      <Enabled default="0" max="1" type="i" silent="False" min="0">0</Enabled>
      <Measurement default="0" max="100" type="i" silent="False" min="0">0</Measurement>
      <QuietHoursStopValue default="1200" max="100000" type="i" silent="False" min="0">1200</QuietHoursStopValue>
      <StartTimer default="20" max="10000" type="i" silent="False" min="0">20</StartTimer>
      <StopTimer default="20" max="10000" type="i" silent="False" min="0">20</StopTimer>
    </AcLoad>
    <InverterOverload>
      <StopTimer default="20" max="10000" type="i" silent="False" min="0">20</StopTimer>
      <StartTimer default="20" max="10000" type="i" silent="False" min="0">20</StartTimer>
      <Enabled default="0" max="1" type="i" silent="False" min="0">0</Enabled>
    </InverterOverload>
    <InverterHighTemp>
      <StartTimer default="20" max="10000" type="i" silent="False" min="0">20</StartTimer>
      <Enabled default="0" max="1" type="i" silent="False" min="0">0</Enabled>
      <StopTimer default="20" max="10000" type="i" silent="False" min="0">20</StopTimer>
    </InverterHighTemp>
    <BatteryCurrent>
      <StopTimer default="20" max="10000" type="i" silent="False" min="0">20</StopTimer>
      <Enabled default="0" max="1" type="i" silent="False" min="0">0</Enabled>
      <StartTimer default="20" max="10000" type="i" silent="False" min="0">20</StartTimer>
      <QuietHoursStartValue default="20.5" max="10000.0" type="f" silent="False" min="0.0">20.5</QuietHoursStartValue>
      <QuietHoursStopValue default="15.5" max="10000.0" type="f" silent="False" min="0.0">15.5</QuietHoursStopValue>
      <StopValue default="5.5" max="10000.0" type="f" silent="False" min="0.0">5.5</StopValue>
      <StartValue default="10.5" max="10000.0" type="f" silent="False" min="0.5">10.5</StartValue>
    </BatteryCurrent>
    <BatteryService default="default" type="s" silent="False">default</BatteryService>
    <BatteryVoltage>
      <StopValue default="12.4" max="150.0" type="f" silent="False" min="0.0">12.4</StopValue>
      <StartValue default="11.5" max="150.0" type="f" silent="False" min="0.0">11.5</StartValue>
      <StopTimer default="20" max="10000" type="i" silent="False" min="0">20</StopTimer>
      <StartTimer default="20" max="10000" type="i" silent="False" min="0">20</StartTimer>
      <QuietHoursStartValue default="11.9" max="100.0" type="f" silent="False" min="0.0">11.9</QuietHoursStartValue>
      <Enabled default="0" max="1" type="i" silent="False" min="0">0</Enabled>
      <QuietHoursStopValue default="12.4" max="100.0" type="f" silent="False" min="0.0">12.4</QuietHoursStopValue>
    </BatteryVoltage>
    <AccumulatedDaily default="" type="s" silent="True"></AccumulatedDaily>
    <TestRun>
      <StartDate default="1483228800" max="10000000000" type="i" silent="False" min="0">1483228800</StartDate>
      <RunTillBatteryFull default="0" max="1" type="i" silent="False" min="0">0</RunTillBatteryFull>
      <StartTime default="54000" max="86400" type="i" silent="False" min="0">54000</StartTime>
      <Duration default="7200" max="86400" type="i" silent="False" min="1">7200</Duration>
      <Enabled default="0" max="1" type="i" silent="False" min="0">0</Enabled>
      <SkipRuntime default="0" max="100000" type="i" silent="False" min="0">0</SkipRuntime>
      <Interval default="28" max="365" type="i" silent="False" min="1">28</Interval>
    </TestRun>
    <QuietHours>
      <Enabled default="0" max="1" type="i" silent="False" min="0">0</Enabled>
      <EndTime default="21600" max="86400" type="i" silent="False" min="0">21600</EndTime>
      <StartTime default="75600" max="86400" type="i" silent="False" min="0">75600</StartTime>
    </QuietHours>
    <Soc>
      <StopValue default="90" max="100" type="i" silent="False" min="0">90</StopValue>
      <Enabled default="0" max="1" type="i" silent="False" min="0">0</Enabled>
      <QuietHoursStartValue default="90" max="100" type="i" silent="False" min="0">90</QuietHoursStartValue>
      <StartValue default="80" max="100" type="i" silent="False" min="0">80</StartValue>
      <QuietHoursStopValue default="90" max="100" type="i" silent="False" min="0">90</QuietHoursStopValue>
    </Soc>
    <StopWhenAc1Available default="0" max="10" type="i" silent="False" min="0">0</StopWhenAc1Available>
    <OnLossCommunication default="0" max="2" type="i" silent="False" min="0">0</OnLossCommunication>
    <MinimumRuntime default="0" max="86400" type="i" silent="False" min="0">0</MinimumRuntime>
    <AccumulatedTotal default="0" type="i" silent="True">0</AccumulatedTotal>
    <Alarms>
      <NoGeneratorAtAcIn default="0" max="1" type="i" silent="False" min="0">0</NoGeneratorAtAcIn>
    </Alarms>
    <AutoStartEnabled default="1" max="1" type="i" silent="False" min="0">1</AutoStartEnabled>
  </FischerPanda0>
  <Alarm>
    <Vebus>
      <HighDcRipple default="1" max="2" type="i" silent="False" min="0">1</HighDcRipple>
      <VeBusError default="1" max="2" type="i" silent="False" min="0">1</VeBusError>
      <InverterOverload default="1" max="2" type="i" silent="False" min="0">1</InverterOverload>
      <VoltageSenseError default="1" max="2" type="i" silent="False" min="0">1</VoltageSenseError>
      <LowBattery default="1" max="2" type="i" silent="False" min="0">1</LowBattery>
      <TemperatureSenseError default="1" max="2" type="i" silent="False" min="0">1</TemperatureSenseError>
      <HighTemperature default="1" max="2" type="i" silent="False" min="0">1</HighTemperature>
    </Vebus>
    <Audible default="1" type="i" silent="False">1</Audible>
  </Alarm>
  <SystemSetup>
    <BatteryService default="default" type="s" silent="False">default</BatteryService>
    <SystemName default="" type="s" silent="False">Hub-4</SystemName>
    <AcInput1 default="1" type="i" silent="False">1</AcInput1>
    <AcInput2 default="2" type="i" silent="False">3</AcInput2>
    <HasAcOutSystem default="1" max="1" type="i" silent="False" min="0">1</HasAcOutSystem>
    <HasDcSystem default="0" max="1" type="i" silent="False" min="0">0</HasDcSystem>
    <SharedTemperatureSense default="1" type="i" silent="False">1</SharedTemperatureSense>
    <MaxChargeCurrent default="-1" max="10000" type="i" silent="False" min="-1">-1</MaxChargeCurrent>
  </SystemSetup>
  <Sensors>
    <OnPosition>
      <ACIn2_L3 default="" type="s" silent="False"></ACIn2_L3>
      <ACIn2_L2 default="" type="s" silent="False"></ACIn2_L2>
      <ACIn1_L2 default="" type="s" silent="False"></ACIn1_L2>
      <ACIn1_L1 default="" type="s" silent="False"></ACIn1_L1>
      <ACIn1_L3 default="" type="s" silent="False"></ACIn1_L3>
      <ACIn2_L1 default="" type="s" silent="False"></ACIn2_L1>
      <ACOut_L2 default="" type="s" silent="False"></ACOut_L2>
      <ACOut_L3 default="" type="s" silent="False"></ACOut_L3>
      <ACOut_L1 default="" type="s" silent="False"></ACOut_L1>
    </OnPosition>
  </Sensors>
  <System>
    <ReleaseType default="0" max="3" type="i" silent="False" min="0">0</ReleaseType>
    <AutoUpdate default="1" max="3" type="i" silent="False" min="0">1</AutoUpdate>
    <RemoteSupport default="0" max="1" type="i" silent="False" min="0">0</RemoteSupport>
    <AccessLevel default="1" max="3" type="i" silent="False" min="0">1</AccessLevel>
    <VolumeUnit default="0" type="i" silent="False">0</VolumeUnit>
    <TimeZone default="/UTC" type="s" silent="False">/UTC</TimeZone>
    <LogLevel default="2" type="i" silent="False">2</LogLevel>
  </System>
  <Gps>
    <SpeedUnit default="km/h" type="s" silent="False">km/h</SpeedUnit>
    <Format default="0" type="i" silent="False">0</Format>
  </Gps>
  <Relay>
    <Polarity default="0" type="i" silent="False">0</Polarity>
    <Function default="0" type="i" silent="False">1</Function>
  </Relay>
</Settings>